$black: rgba(0, 0, 0, 0.8);
$green: rgb(93, 175, 116);
$white: rgb(255, 255, 255);

$h1-font-size: 48px;
$h2-font-size: 64px;
$h3-font-size: 10px;
$th-font-size: 16px;

$h1-font: Fjalla-One;
$h2-font: Libre-Franklin-Bold;
$h3-font: Libre-Franklin;
$th-font: Work-Sans;

$table-width: 100%;
