@import '../theme/Variables.scss';

.cell-regular {
    background: $white;
    color: $black;
    border: $green solid 2px;
    width: 14.3%;
    position: relative;
}

.cell-titled {
    background: $white;
    color: $green;
    border: $green solid 2px;
    width: 14.3%;
    position: relative;
}

.cell-highlighted {
    background: $green;
    color: white;
    border: $green solid 2px;
    width: 14.3%;
    position: relative;
}

.date {
    font-family: $h2-font;
    font-size: $h2-font-size;
    text-align: center;
    vertical-align: text-top;
    margin: 0;
    margin-top: 1.3rem;
    margin-bottom: 1.3rem;
}

.title {
    font-family: $h3-font;
    font-size: $h3-font-size;
    text-align: center;
    color: $black !important;
    margin-top: 0;
    margin-bottom: 0.1rem;
    margin-left: 0.8rem;
    margin-right: 0.8rem;
    height: 2rem;
}

